main {
    margin-top: 10rem;
}

.font-36-700 {
    color: #333;
    font-family: "Higure Gothic";
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.font-42-700 {
    color: #333;
    font-family: "Higure Gothic";
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

